@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clear-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 50px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: #615048;
    outline: none;
}

.button:focus-visible {
    background-color: #615048;
    outline: none;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
    outline: none;
}

.button:disabled {
    background-color: #E5E5E5;
}

.button:disabled:hover {
    background-color: #615048;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
    display: flex;
    color: #000000;
    background-color: #ffffff;
}

.page-header-logo {
    display: block;
    position: absolute;
    width: 140px;
    margin-left: 70px;
}

.nav {
    display: flex;
    width: 1060px;
    margin-left: 238px;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
}

.nav-user {
    max-width: 320px;
    margin-left: auto;
    margin-right: 21px;
}

.nav-user .nav-link {
    min-width: 18px;
    min-height: 18px;
}

.nav-search {
    background-image: url("../images/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.nav-favorites {
    position: relative;
    margin-left: -7px;
    margin-right: 17px;
    background-image: url("../images/icons/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.nav-favorites-number {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 24px;
    top: 11px;
    padding: 4px;
    background-color: #7DB54F;
    border-radius: 50% 50%;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.nav-user .button {
    padding: 8px 34px;
}

.nav-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.nav-link-current {
    position: relative;
}

.nav-link-current::before {
    position: absolute;
    right: 16px;
    bottom: -1px;
    left: 16px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.welcome {
    margin-bottom: 69px;
    padding-top: 51px;
    padding-bottom: 82px;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/main-background-bottom.svg"), url("../images/main-background.jpg");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-img {
    display: block;
    margin: 0 auto;
}

.advantages {
    margin-bottom: 96px;
    text-align: center;
}

.advantages-title-main {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages-description-main {
    margin-top: 0;
    margin-bottom: 90px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.advantages-item {
    width: 400px;
    min-height: 384px;
}

.advantages-container .advantages-item {
    display: flex;
}

.advantages-image-sedona {
    order: 1;
}

.advantages-container-inner {
    flex-direction: column;
    padding: 100px 85px;
}

.advantages-title {
    position: relative;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 62px;
    padding: 0 27px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages-item-blue .advantages-title {
    margin-top: -7px;
    margin-bottom: 54px;
    margin-left: -5px;
}

.advantages-item-blue .advantages-title::before {
    position: absolute;
    right: 87px;
    bottom: -30px;
    left: 87px;
    height: 2px;
    background-color:rgba(255, 255, 255, 0.3);
    content: "";
}

.advantages-item-pale-blue:nth-child(2n) .advantages-title::before,
.advantages-item-light-blue .advantages-title::before {
    position: absolute;
    right: 85px;
    bottom: -30px;
    left: 85px;
    height: 2px;
    background-color:rgba(0, 0, 0, 0.3);
    content: "";
}

.advantages-description {
    margin: 0;
}

.advantages-item-blue .advantages-description {
    padding-top: 7px;
}

.advantages-item-blue {
    width: 100%;
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-item-light-blue {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-pale-blue {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container-inner-icon {
    padding: 179px 0 81px;
}

.advantages-container-inner-icon .advantages-description {
    margin-top: -32px;

}

.advantages-description-house {
    padding: 0 110px;
}

.advantages-description-meal,
.advantages-description-souvenirs {
    padding: 0 80px;
}

.advantages-item-house {
    background-image: url("../images/icons/advantage-icon-house.svg");
    background-repeat: no-repeat;
    background-position: center 80px;
    background-size: 75px 72px;
}

.advantages-item-meal {
    background-image: url("../images/icons/advantage-icon-meal.svg");
    background-repeat: no-repeat;
    background-position: center 80px;
    background-size: 75px 72px;
}

.advantages-item-souvenirs {
    background-image: url("../images/icons/advantage-icon-souvenirs.svg");
    background-repeat: no-repeat;
    background-position: center 80px;
    background-size: 75px 74px;
}

.search {
    margin-bottom: 96px;
    text-align: center;
}

.search-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.search-description {
    margin-top: 0;
    margin-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.search-button {
    font-size: 20px;
    line-height: 36px;
}

.subscription {
    margin-bottom: 44px;
    padding: 96px 104px 104px;
    text-align: center;
}

.subscription-main {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/subscription-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscription-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription-description {
    margin-top: 0;
    margin-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
}

.subscription-main .subscription-description {
    color: inherit;
}

.subscription-email {
    flex-grow: 1;
    margin: 0;
}

.subscription-form {
    display: flex;
    justify-content: center;

}

.field {
    margin: 0;
    padding: 14px 20px;
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px 0 0 4px;
}

.subscription-form .field {
    width: 412px;
    outline: none;
}

.field:hover {
    background-color: #E6E6E6;
}

.field:focus-visible {
    padding: 11px 17px;
    background-color: #E6E6E6;
    border: 3px solid #83B3D3;
}

.field::placeholder {
    color: #000000;
    opacity: 0.6;
}

.subscription-form .button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
    border: none;
    border-radius: 0 4px 4px 0;
}

.hotels-card .button-favorite:hover,
.catalog-filter-form .button:hover,
.subscription-form button:hover {
    background-color: #68A2CA;
}

.hotels-card .button-favorite:focus,
.catalog-filter-form .button:focus,
.subscription-form button:focus {
    background-color: #68A2CA;
}

.hotels-card .button-favorite:active,
.catalog-filter-form .button:active,
.subscription-form button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.hotels-card .button-favorite:disabled,
.catalog-filter-form .button:disabled,
.subscription-form button:disabled {
    background-color: #E5E5E5;
}

.hotels-card .button-favorite:disabled:hover,
.catalog-filter-form .button:disabled:hover,
.subscription-form button:disabled:hover {
    background-color: #68A2CA;
}

.page-footer {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 70px;
    color: #000000;
    background-color: #ffffff;
}

.footer-social {
    max-width: 200px;
    margin-right: auto;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-social-item {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 40px;
}

.footer-social-link {
    display: block;
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 40px;
    outline: none;
}

.social-icon {
    position: absolute;
    top: 13px;
    right: 13px;
    bottom: 0;
    left: 12px;
    fill: #83B3D3;
}

.social-icon:hover {
    fill: #68A2CA;
}

.social-icon:focus {
    fill: #68A2CA;
}

.social-icon:active {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
    max-width: 350px;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    outline: none;
}

.contacts-phone:hover {
    color: #756157;
}

.contacts-phone:focus {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.developer {
    max-width: 150px;
    margin-left: auto;
    margin-top: 3px;
}

.logo-academy {
    outline: none;
}

.academy-icon {
    fill: #000000;
}

.academy-icon:hover {
    fill: #756157;
}

.academy-icon:focus {
    fill: #756157;
}

.academy-icon:active {
    fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 64px;
    right: 53px;
    width: 52px;
    height: 52px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
    background-color: #E6E6E6;
    border: 3px solid #83B3D3;
}

.modal-close-button:active {
    background-color: #E6E6E6;
    border: none;
    opacity: 0.3;
}

.modal-title {
    margin: 0;
    margin-bottom: 64px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.search-form {
    width: auto;
}

.search-form .field-group {
    margin: 0;
    margin-bottom: 48px;
}

.search-form-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    background-color: #ffffff;
}

.search-form-label-arrival {
    margin-right: 20px;
}

.search-form-label-departure {
    margin-right: 14px;
}

.search-form-label-adults {
    margin-right: 45px;
}

.search-form-label-kids {
    margin-right: 10px;
}

.search-form-field {
    width: 420px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    font: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: start;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    outline: none;
}

.search-form-field:hover {
    background-color: #E6E6E6;
}

.search-form-field:focus-visible {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.search-form-field:active {
    background-color: #F2F2F2;
    outline: 2px solid #000000;
}

.search-form-field:placeholder-shown {
    background-color: #F2F2F2;
    color: #000000;
}

.field-group {
    position: relative;
    text-align: center;
}

.field-group-calendar::before {
    position: absolute;
    top: 13px;
    right: 23px;
    width: 20px;
    height: 20px;
    background-image: url("../images/calendar.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    content: "";
}

.search-info-date {
    position: absolute;
    top: 51px;
    left: 156px;
    font-size: 16px;
    line-height: 21px;
}

.search-error-date {
    color: #FF5757;
}

.field-group-number {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.search-form-field-adults,
.search-form-field-kids {
    box-sizing: border-box;
    width: 31px;
    height: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
    font: inherit;
    font-weight: 700;
    color: #000000;
}

.search-form-field-adults:hover,
.search-form-field-kids:hover {
    background-color: #E6E6E6;
}

.search-form-field-adults:focus-visible,
.search-form-field-adults:active,
.search-form-field-kids:focus-visible,
.search-form-field-kids:active {
    outline: none;
}

.adults-count,
.kids-count {
    display: flex;
    align-items: center;
}

.kids-count {
    margin-right: 5px;
}

.button-count {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 48px;
    margin: 0;
    padding: 14px 10px;
    background-color: #F2F2F2;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-minus {
    position: relative;
    border-radius: 4px 0 0 4px;
    background-image: url("../images/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    opacity: 0.3;
}

.button-minus-right {
    margin-left: 46px;
}

.button-plus {
    position: relative;
    border-radius: 0 4px 4px 0;
    background-image: url("../images/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    opacity: 0.3;
}

.button-minus:hover,
.button-plus:hover {
    opacity: 1;
}

.button-minus:focus-visible,
.button-plus:focus-visible {
    opacity: 1;
    border: 3px solid #82B3D3;
    border-radius: 4px;
}

.button-minus:active,
.button-plus:active {
    opacity: 0.3;
}

.tooltip {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: -1px;
    margin-left: 3px;
}

.tooltip-toggle {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.tooltip-icon {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.5px;
    color: #ffffff;
    background-color: #83B3D3;
    border-radius: 50%;
}

.tooltip-toggle:hover .tooltip-icon {
    background-color: #83B3D3;
}

.form-label-icon {
    position: relative;
    padding-right: 16px;
}

.tooltip-text {
    display: none;
    position: absolute;
    top: 40px;
    left: 13px;
    transform: translateX(-50%);
    z-index: 1;
    width: 225px;
    padding: 21px 14px 25px 21px;
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    text-align: start;
    color: #ffffff;
    background-color: #333333;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.tooltip-toggle:hover .tooltip-text,
.tooltip-toggle:focus .tooltip-text {
    display: block;
}

.tooltip-text::before {
    position:absolute;
    bottom: 146px;
    left: 0;
    right: 6px;
    width: 19px;
    height: 9px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/tooltip-arrow.svg");
    content:'';
  }

.search-form-button {
    width: 577px;
    padding: 18px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background-color: #83B3D3;
    border-radius: 10px;
    outline: none;
}

.search-form-button:hover {
    background-color: #68A2CA;
}

.search-form-button:focus-visible {
    background-color: #68A2CA;
}

.search-form-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.inner-header {
    margin-bottom: 50px;
    padding: 35px 70px 57px;
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/catalog-background.jpg");
    background-size: 100% 412px;
    background-repeat: no-repeat;
}

.inner-header-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: #ffffff;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 28px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.breadcrumbs-icon-home {
    display: block;
    width: 13px;
    height: 15px;
    padding: 3px 0;
    background-image: url("../images/icons/icon-home.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.breadcrumbs-item::after {
    display: block;
    position: absolute;
    top: 0;
    right: -18px;
    width: 8px;
    height: 21px;
    background-image: url("../images/arrow-breadcrumbs.svg");
    background-repeat: no-repeat;
    content: "";
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
    color: #FFFFFF;
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-form {
    display: flex;
}

.catalog-filter-group {
    width: 150px;
    margin: 0;
    margin-right: 70px;
    padding: 0;
    border: none;
}

.catalog-filter-group:last-child {
    margin-right: 0;
}

.catalog-filter-group-price {
    width: 290px;
    margin-left: 81px;
}

.catalog-filter-title {
    margin: 0;
    margin-left: -3px;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.catalog-filter-item:hover {
    opacity: 0.6;
}

.catalog-filter-item:focus {
    opacity: 1;
}

.catalog-filter-item:active {
    opacity: 0.3;
}

.control {
    position: relative;
    display: block;
    padding-left: 36px;
    padding-bottom: 16px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.control:hover .control-mark {
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.control:focus .control-mark {
    background-color: #FFFFFF;
    outline: 3px solid #83B3D3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.control:active .control-mark {
    background-color: #FFFFFF;
    outline: 2px solid #83B3D3;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.control-input:disabled + .control-mark {
    border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 13px;
    height: 10px;
    background-color: #ffffff;
    background-image: url("../images/chek-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control-label {
    line-height: 23px;
    font-weight: 400;
}

.range-wrapper-inputs {
    display: flex;
    width: 290px;
    justify-content: center;
    margin-bottom: 43px;
}

.catalog-filter-label {
    display: flex;
    position: relative;
    margin-right: 2px;
}

.range-input {
    width: 121px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 20px;
    font: inherit;
    font-weight: 700;
    text-align: start;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px 0 0 4px;
    appearance: textfield;
}

.input-wrapper::before {
    position: absolute;
    top: 14px;
    left: 105px;
    width: 17px;
    height: 24px;
    content: "от";
    color: #000000;
    opacity: 0.3;
}

.input-wrapper-right::before {
    position: absolute;
    top: 14px;
    left: 103px;
    width: 17px;
    height: 24px;
    content: "до";
    color: #000000;
    opacity: 0.3;
}

.range-input:hover {
    background-color: #E6E6E6;
}

.range-input:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.range-input:active {
    background-color: #F2F2F2;
    outline: 2px solid #000000;
}

.range-input-right {
    border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:hover {
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
    background-color: #FFFFFF;
    outline: 3px solid #83B3D3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: 0;
}

.button-conteiner {
    display: flex;
    flex-direction: column;
}

.catalog-filter-form .button {
    margin-top: 56px;
    margin-left: -2px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
    border: none;
    border-radius: 4px;
}

.catalog-filter-form .button-reset {
    margin-top: 32px;
    margin-left: 2px;
    padding: 8px 54px;
    background-color: transparent;
    outline: none;
}

.catalog-filter-form .button-reset:hover {
    background-color: transparent;
    opacity: 0.6;
}

.catalog-filter-form .button-reset:focus {
    background-color: transparent;
    border: 3px solid #83B3D3;
}

.catalog-filter-form .button-reset:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    outline: none;
}

.catalog-filter-form .button-reset:disabled {
    background-color: transparent;
    opacity: 0.1;
}

.catalog-filter-form .button-reset:disabled:hover {
    background-color: transparent;
}

.catalog-hotels {
    padding: 0 70px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    color: #000000;
    background-color: #ffffff;
}

.search-result {
    margin: 0;
    margin-right: 202px;
    padding: 7px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
}

.select-control {
    width: 290px;
    padding: 12px 16px;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    appearance: none;
    outline: none;
}

.select-control:hover,
.select-control:focus {
    border: 2px solid #68A2CA;
    border-radius: 4px;
}

.select-control:active {
    border: 2px solid #3F5E72;
    border-radius: 4px;
}

.select-control:disabled {
    opacity: 0.3;
}

.hotels-display {
    display: flex;
    margin-left: 70px;
}

.hotels-display .button {
    margin-right: 8px;
    padding: 0;
    width: 48px;
    height: 48px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.hotels-display .button:hover {
    border: 2px solid #000000;
}

.hotels-display .button:focus {
    border: 2px solid #68A2CA;
}

.hotels-display .button:active {
    border: 2px solid #000000;
}

.hotels-display .button:last-child {
    margin-right: 0;
}

.hotels-display .button-checked {
    border: 2px solid #000000;
}

.button-cards {
    background-image: url("../images/icons/icon-cards.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
}

.button-slider {
    background-image: url("../images/icons/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
}

.button-list {
    background-image: url("../images/icons/icon-list.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;
}

.hotels-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    margin-bottom: 36px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
}

.hotels-card {
    display: grid;
    grid-template-rows: 212px min-content min-content auto min-content;
    grid-template-columns: 142px 142px;
    column-gap: 16px;
    row-gap: 15px;
    padding: 21px 19px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotels-card .button {
    padding: 8px 20px;
}

.hotels-card .button-current {
    padding: 8px 18px;
    background-color: #7DB54F;
}

.hotels-card .button-current:hover {
    background-color: #6C9E42;;
}

.hotels-card .button-current:focus {
    background-color: #6C9E42;;
}

.hotels-card .button-current:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #7DB54F;
}

.hotels-card .button-current:disabled {
    background-color: #E5E5E5;
}

.hotels-card .button-fcurrent:disabled:hover {
    background-color: #6C9E42;
}

.hotels-card-type,
.hotels-card-more,
.hotels-card-stars {
    grid-column: 1 / 2;
}

.hotels-card-price,
.hotels-card-favorite,
.hotels-card-rating {
    grid-column: 2 / 3;
}

.hotels-card-link-image,
.hotels-card-link-title {
    grid-column: 1 / -1;
    text-decoration: none;
}

.hotels-card-image {
    display: block;
}

.hotels-card-title {
    margin: 0;
    margin-top: 2px;
    margin-left: -1px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
}

.hotels-card-price {
    justify-self: end;
}

.hotels-card-favorite {
    background-color: #82B3D3;
}

.hotels-card-stars {
    padding: 9px 0;
    background-image: url("../images/star.svg");
    background-repeat: repeat-x;
    background-position: left;
    background-size: 20px 20px;
}

.hotels-2-stars {
    width: 40px;
}

.hotels-3-stars {
    width: 60px;
}

.hotels-4-stars {
    width: 80px;
}

.hotels-card-rating {
    padding: 9px 22px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: #F2F2F2;
    border-radius: 4px;
}

.pagination {
    display: flex;
    margin-bottom: 60px;
    background-color: #ffffff;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 12px 13px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.pagination-link:hover {
    color: #ffffff;
    background-color: #68A2CA;
}

  .pagination-link:focus {
    color: #ffffff;
    background-color: #68A2CA;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;;
}

.pagination-current {
    color: #242424;
    background-color: #F2F2F2;
}

.pagination-current:hover {
    color: #000000;
    background-color: #F2F2F2;
}

  .pagination-current:focus {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-current:active {
    color: #000000;
    background-color: #F2F2F2;;
}

.pagination-dots {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}
